.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
  
.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4cae4c;
}
/* select style */
.prioritySelect {
  padding: 8px;
  margin-right: 8px; /* Adjust as needed for layout */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  -webkit-appearance: none; /* Removes default styling on iOS */
  -moz-appearance: none; /* Removes default styling on Firefox */
  appearance: none; /* Removes default styling */
  cursor: pointer;
}

/* Style for the option elements */
.prioritySelect option {
  padding: 8px;
}

/* You can also add focus and hover styles for better UX */
.prioritySelect:hover,
.prioritySelect:focus {
  border-color: #888;
  outline: none; /* Removes the default focus outline */
}