.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4cae4c;
}
/* select style */
.prioritySelect {
  padding: 8px;
  margin-right: 8px; /* Adjust as needed for layout */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  -webkit-appearance: none; /* Removes default styling on iOS */
  -moz-appearance: none; /* Removes default styling on Firefox */
  appearance: none; /* Removes default styling */
  cursor: pointer;
}

/* Style for the option elements */
.prioritySelect option {
  padding: 8px;
}

/* You can also add focus and hover styles for better UX */
.prioritySelect:hover,
.prioritySelect:focus {
  border-color: #888;
  outline: none; /* Removes the default focus outline */
}

.dateInputContainer {
  position: relative;
  display: inline-block;
}

.dateInput {
  padding: 8px;
  padding-right: 32px; /* Make padding larger on the right to make room for the icon */
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none; /* Removes default styling from date inputs in webkit browsers */
  appearance: none; /* Removes default styling from date inputs */
  /* Add all other styles you have defined previously */
}

.calendarIcon {
  position: absolute;
  right: 10px; /* Or adjust as per your padding and size of the container */
  top: 50%;
  transform: translateY(-50%);
  color: #495057;
  pointer-events: none; /* This makes sure the icon doesn't block clicks on the date input */
}

.dateInput::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  margin: 0; /* Align the default calendar icon with the new one */
  opacity: 0; /* Hide the default icon */
  cursor: pointer;
}

/* Add similar style adjustments for other browsers if necessary */
