/* Main Todo Item styling */
.todoItem {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main task details styling */
.mainDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px; /* Add space between main details and subtasks */
}

/* Subtasks container styling */
.subtasksContainer {
  margin-top: 8px;
  border-left: 3px solid #e0e0e0; /* Slight indent for subtask list */
  padding-left: 10px;
}

/* Individual subtask styling */
.subtask {
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.subtaskInput {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 50%;
}

/* Button styling */
.button {
  padding: 5px 10px;
  margin: 10px 10px 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.button:hover {
  opacity: 0.8;
}

.completeButton {
  background-color: #4caf50;
  color: white;
}

.completedButton, .completed {
  background-color: #c8e6c9; /* A lighter green to indicate completion */
  color: #2e7d32; 

}
.completed{
  text-decoration: line-through;
  text-decoration-color: cornflowerblue;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

.deleteButton:hover {
  background-color: #d32f2f; /* A darker shade for hover state */
}

/* Add some padding to the bottom of the TodoItem to space out from the next one */
.todoItem:last-child {
  padding-bottom: 10px;
}

/* Priority Indicator */
.priorityHigh, .priorityMedium, .priorityLow {
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-size: 0.8em;
  margin-right: 10px;
}

.priorityHigh {
  background-color: #ff5722; /* Reddish color for high priority */
}

.priorityMedium {
  background-color: #ff9800; /* Orange color for medium priority */
}

.priorityLow {
  background-color: #4caf50; /* Green color for low priority */
}

/* Reminder Indicator */
.reminderIndicator {
  color: #ffeb3b; /* Yellow color for reminder icon */
  margin-right: 5px;
}

.deleteSubtaskButton {
  padding: 5px 10px;
  margin-left: 10px; /* Or any appropriate value for spacing */
  border: none;
  border-radius: 4px;
  background-color: #d9534f; /* A red color for delete actions */
  color: white;
  cursor: pointer;
  font-size: 0.85rem; /* Slightly smaller font size for subtask actions */
  transition: background-color 0.2s ease-in-out;
}

.deleteSubtaskButton:hover {
  background-color: #c9302c; /* A darker shade of red for hover state */
}

.deleteSubtaskButton:active {
  background-color: #ac2925; /* An even darker shade for active/click state */
}

/* You may also want to add some additional styling for the disabled state if needed */
.deleteSubtaskButton:disabled {
  background-color: #e6e6e6;
  color: #bdbdbd;
  cursor: not-allowed;
}
.subtaskCompleted{
  text-decoration: line-through;
  text-decoration-color: cornflowerblue;
}
.overdueDate{
  color: red;
  font-weight: bold;
}