.appContainer {
  max-width: 800px; /* or whatever max width you prefer */
  margin: auto; /* this centers the container */
  padding: 20px; /* this adds space inside the container */
  background-color: #f4f4f4; /* example background color */
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}
.sortAsc {
  background-color: #4CAF50; /* Green background for ascending sort */
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sortAsc:hover {
  background-color: #45a049; /* Darker green on hover */
}

.sortDesc {
  background-color: #f44336; /* Red background for descending sort */
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sortDesc:hover {
  background-color: #da190b; /* Darker red on hover */
}